@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --muted-background: 240 5.5% 11%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(202, 192, 178, 0) !important;
  height: 350px !important;
  width: 50px !important;
  transform: translateY(-40%);
}

/* Styling for vertical scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(54, 54, 54, 0);
  border-radius: 4px;
  height: 15px;
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  height: auto;
  visibility: hidden;
  border-radius: 4px;
  background-color: rgba(190, 190, 190, 0.201);
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 18, 0.927) 100%
  );
}
